.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    margin-top: 20px;
  }

  &__text {
    max-width: 290px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  .content {
    &__img {
      width: 250px;
      height: 200px;
    }
  }
}
